<form>
 <ul>
  <li>
    <label for="pid">Id de producto a eliminar:</label>
    <input type="text" id="idAdd" >
  </li>
    <li>
    <label for="pid">Id de producto a desea agregar:</label>
    <input type="text" id="idDelete" >
  </li>
  <h1>Lista de productos</h1>
  <p id="lista">

  </p>

 </ul>
</form>






<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>